<p class="links">
  {% if site.twitter_username %}<a href="https://twitter.com/alfianS41" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="https://www.linkedin.com/in/alfian-a-1a609b9a/" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.google_plus_link %}<a href="https://plus.google.com/116020935154858112517" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
  {% if site.facebook_link %}<a href="https://www.facebook.com/alfianubi" target="_new"><i class="fa fa-facebook"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/alfianubi" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="https://stackoverflow.com/users/11274199/alfian-al-ayubi" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
  {% if site.instagram_username %}<a href="https://www.instagram.com/alfianalubi" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
